{% extends 'base.html' %}
{% load static %}


{% block title %} Dashboard {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/dashboard.css' %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="dashboard">
    <h2>Farma Kami</h2>
    <h4>Apotek Terbaik Se-Dunia</h4>
    <div class="buttons">
        <a href="{% url 'authentication:login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'authentication:register' %}" class="btn btn-primary">Register</a>
    </div>
</div>
{% endblock %}