{% extends 'base.html'%}

{% block title %}
Login
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="POST" action="{% url 'authentication:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" name="email" value="{{ email }}">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}