{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/profile.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/authentication/profile.js' %}"></script>
{% endblock %}

{% block title %} Profile   {% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="card"">
            <img src="{% static 'icons/face.svg' %}" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">
                    Email
                </h5>
                <p>
                    {{ email }}
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Role
                </h5>
                <p>
                    {{ request.session.user.role }}
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Telepon
                </h5>
                <p>
                    {{ request.session.user.telepon }}
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Nama Lengkap
                </h5>
                <p>
                    {{ request.session.user.nama_lengkap }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}