{% extends 'base.html' %}
{% load static %}

{% block title %}
Daftar Konsumen
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/date_init.js' %}"></script>
<script src="{% static 'js/authentication/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'authentication:register' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM PENDAFTARAN KONSUMEN</h3>
</div>
<form method="POST" action="{% url 'authentication:register_konsumen' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="ex: mail@gmail.com" aria-describedby="emailHelp" value="{{ email }}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword">
    </div>

    <div class="form-group">
        <label for="inputNamaLengkap">Nama Lengkap</label>
        <input type="text" name="nama" class="form-control" id="inputNamaLengkap" placeholder="ex: Joko Susilo" value="{{ nama }}">
    </div>
    
    <div class="form-group">
        <label for="inputNomorTelp">Nomor Telepon</label>
        <input type="number" name="telepon" class="form-control" id="inputNomorTelp" placeholder="ex: 081212121212" value="{{ telepon }}">
    </div>
    
    <label for="inputGroupSex">
        Jenis Kelamin
    </label>
    <div class="form-group" id="inputGroupSex">
        <div class="form-check form-check-inline">
            <input {% if sex == "L" %} checked {% else %} checked {% endif %} class="form-check-input" type="radio" name="sex" id="sexRadio1" value="L">
            <label class="form-check-label" for="sexRadio1">L</label>
        </div>
        
        <div class="form-check form-check-inline">
            <input {% if sex == "P" %}checked {% endif %} class="form-check-input" type="radio" name="sex" id="sexRadio2" value="P">
            <label class="form-check-label" for="sexRadio2">P</label>
        </div>
    </div>


    <div class="form-group">
        <label for="inputTanggalLahir">Tanggal Lahir</label>
        <input type="text" readonly name="tanggalLahir" class="form-control date-picker" id="inputTanggalLahir" value="{{ tanggalLahir }}">
    </div>

    <label for="alamatGroup">
        Alamat
    </label>
    <div class="form-group" id="alamatGroup">
        {% if alamats %}
            {% for statusAlamat, namaAlamat in alamats %}
            <div id="inputGroupAlamat">
                <div class="form-group">
                    <div class="input-group status-alamat">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Status & Detail Alamat
                            </span>
                        </div>
                        <input type="text" name="statusAlamat" aria-label="Status alamat" placeholder="ex: Terkonfirmasi" class="form-control" value="{{ statusAlamat }}">
                        <input type="text" name="namaAlamat" aria-label="Nama alamat" placeholder="ex: Jl. Cikapundung No.12, Bandung" class="form-control" value="{{ namaAlamat }}">
                        <div class="input-group-append">
                            <button type="button" onclick="removeAlamat(this)" class="btn btn-danger hapus-alamat">X</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div id="inputGroupAlamat">
                <div class="form-group">
                    <div class="input-group status-alamat">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Status & Detail Alamat
                            </span>
                        </div>
                        <input type="text" name="statusAlamat" aria-label="Status alamat" placeholder="ex: Terkonfirmasi" class="form-control" >
                        <input type="text" name="namaAlamat" aria-label="Nama alamat" placeholder="ex: Jl. Cikapundung No.12, Bandung" class="form-control" >
                        <div class="input-group-append">
                            <button type="button" onclick="removeAlamat(this)" class="btn btn-danger hapus-alamat">X</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <button type="button" id="tambahAlamat" class="btn btn-success btn-block">Tambah alamat</button>
    </div>

    <button type="submit" class="btn btn-primary btn-block">DAFTAR</button>
</form>
{% endblock %}