{% extends 'base.html' %}
{% load static %}

{% block title %}
Daftar Kurir
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'authentication:register' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM PENDAFTARAN KURIR</h3>
</div>
<form method="POST" action="{% url 'authentication:register_kurir' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" required aria-describedby="emailHelp" value="{{ email }}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" required>
    </div>
    <div class="form-group">
        <label for="inputNamaLengkap">Nama Lengkap</label>
        <input type="text" name="nama" class="form-control" id="inputNamaLengkap" required placeholder="ex: Joko Susilo" value="{{ nama }}">
    </div>
    
    <div class="form-group">
        <label for="inputNomorTelp">Nomor Telepon</label>
        <input type="number" name="telepon" class="form-control" id="inputNomorTelp" required placeholder="ex: 081212121212" value="{{ telepon }}">
    </div>

    <div class="form-group">
        <label for="inputNamaPerusahaan">Nama Perusahaan</label>
        <input type="text" name="perusahaan" class="form-control" id="inputNamaPerusahaan" required placeholder="ex: Makmur Jaya" value="{{ perusahaan }}">
    </div>

    <button type="submit" class="btn btn-primary btn-block">DAFTAR</button>
</form>
{% endblock %}