{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/register.css' %}">
{% endblock %}

{% block nav %}{% endblock %}

{% block header %}
<div class="header">
    <h3>
        Ingin mendaftar sebagai apa?
    </h3>
</div>
{% endblock %}

{% block title %} Daftar {% endblock %}

{% block content %}

<div class="role-container">
    <div class="card-deck">
        <div class="card">
            <img src="{% static 'icons/medical-team.svg' %}" class="card-img-top" alt="Admin Apotek">
            <div class="card-body">
                <h5 class="card-title">Admin Apotek</h5>
                <a href="{% url 'authentication:register_admin' %}" class="btn btn-primary" >Register</a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'icons/cs.svg' %}" class="card-img-top" alt="Customer Service">
            <div class="card-body">
                <h5 class="card-title">Customer Service</h5>
                <a href="{% url 'authentication:register_cs' %}" class="btn btn-primary">Register</a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'icons/customer.svg' %}" class="card-img-top" alt="Konsumen">
            <div class="card-body">
                <h5 class="card-title">Konsumen</h5>
                <a href="{% url 'authentication:register_konsumen' %}" class="btn btn-primary">Register</a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'icons/courier.svg' %}" class="card-img-top" alt="Kurir">
            <div class="card-body">
                <h5 class="card-title">Kurir</h5>
                <a href="{% url 'authentication:register_kurir' %}" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}