{% extends 'base.html' %}

{% block title %} 
Buat data Apotek 
{% endblock %}

{% block nav %}{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Tambahkan Apotek</h1>
    </div>
</div>
<br>
<div class="container">
    <form action="{% url 'apotek:create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputNamaApotek">Nama Apotek</label>
            <input type="text" name="namaApotek" id="inputNamaApotek" class="form-control" placeholder="Apotek Kimia Farma" value="{{ nama_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputAlamatApotek">Alamat Apotek</label>
            <input type="text" name="alamatApotek" id="inputNamaApotek" class="form-control" placeholder="Jl. Jalan jalan" value="{{ alamat_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputNomorTelepon">Nomor Telepon</label>
            <input type="number" name="nomorTelepon" id="inputNomorTelepon" class="form-control" placeholder="08121818181" value="{{ telepon_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputNamaPenyelenggara">Nama Penyelenggara</label>
            <input type="text" name="namaPenyelenggara" id="inputNamaPenyelenggara" class="form-control" placeholder="Anwar Joji" value="{{ nama_penyelenggara }}">
        </div>
        <div class="form-group">
            <label for="inputNoSiaPenyelenggara">Nomor SIA Penyelanggara</label>
            <input type="text" name="noSiaPenyelenggara" id="inputNoSiaPenyelenggara" class="form-control" placeholder="10101000000" value="{{ no_sia }}">
        </div>
        <div class="form-group">
            <label for="inputEmailPenyelenggara">Email Penyelanggara</label>
            <input type="email" name="emailPenyelenggara" id="inputEmailPenyelenggara" class="form-control" placeholder="penyelenggara@gmail.com" value="{{ email }}">
        </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
        <a href="{% url 'apotek:index' %}" >
            <button type="button" class="btn btn-secondary">Batal</button>
        </a>
    </form>
</div>


{% endblock %}