{% extends 'base.html' %}
{% load static %}

{% block title %} 
Ubah Data Apotek
{% endblock %}

{% block nav %}{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Ubah Apotek</h1>
    </div>
</div>
<br>
<div class="container">
    <form method="POST" action="{% url 'apotek:edit' apotek.id_apotek %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputIdApotek">ID Apotek</label>
            <input type="text" name="idApotek" id="inputIdApotek" class="form-control" value="{{ apotek.id_apotek }}" readonly>
        </div>
        <div class="form-group">
            <label for="inputNamaApotek">Nama Apotek</label>
            <input type="text" name="namaApotek" id="inputNamaApotek" class="form-control" value="{{ apotek.nama_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputAlamatApotek">Alamat Apotek</label>
            <input type="text" name="alamatApotek" id="inputAlamatApotek" class="form-control" value="{{ apotek.alamat_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputNomorTelepon">Nomor Telepon</label>
            <input type="number" name="nomorTelepon" id="inputNomorTelepon" class="form-control" value="{{ apotek.telepon_apotek }}">
        </div>
        <div class="form-group">
            <label for="inputNamaPenyelenggara">Nama Penyelenggara</label>
            <input type="text" name="namaPenyelenggara" id="inputNamaPenyelenggara" class="form-control" value="{{ apotek.nama_penyelenggara }}">
        </div>
        <div class="form-group">
            <label for="inputNoSiaPenyelenggara">Nomor SIA Penyelanggara</label>
            <input type="text" name="noSiaPenyelenggara" id="inputNoSiaPenyelenggara" class="form-control" value="{{ apotek.no_sia }}">
        </div>
        <div class="form-group">
            <label for="inputEmailPenyelenggara">Email Penyelanggara</label>
            <input type="email" name="emailPenyelenggara" id="inputEmailPenyelenggara" class="form-control" value="{{ apotek.email }}">
        </div>
        <button type="submit" class="btn btn-primary">Perbarui</button>
        <a href="{% url 'apotek:index' %}">
            <button class="btn btn-secondary">Batal</button>
        </a>
    </form>
</div>
{% endblock %}