{% extends 'base.html' %}

{% block title %} Apotek {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Apotek</h1>
    </div>
</div>
<br>
<div class="table-responsive-sm">
    <header>
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Apotek</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Nomor Telepon</th>
                    <th scope="col">Nama Penyelenggara</th>
                    <th scope="col">Nomor SIA Penyelenggara</th>
                    <th scope="col">Email Penyelenggara</th>
                    {% if request.session.user.role == "admin_apotek" %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for apotek in apoteks %}
                <tr>
                    <th scope="row">{{ apotek.id_apotek }}</th>
                    <td>{{ apotek.nama_apotek }}</td>
                    <td>{{ apotek.alamat_apotek }}</td>
                    <td>{{ apotek.telepon_apotek }}</td>
                    <td>{{ apotek.nama_penyelenggara }}</td>
                    <td>{{ apotek.no_sia }}</td>
                    <td>{{ apotek.email }}</td>
                    {% if request.session.user.role == "admin_apotek" %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'apotek:edit' apotek.id_apotek %}" >
                                <button class="btn btn-primary">Update</button>
                            </a>
                            <form action="{% url 'apotek:delete' apotek.id_apotek %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </header>
</div>

{% endblock %}