
{% extends 'base.html' %}
{% load static %}

{% block title %} Create List Produk Dibeli {% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="judul">
  <a href="{% url 'list_produk_dibeli:index' %}">
      <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
  </a>
  <h3 class="text-center font-weight-bold">FORM LIST PRODUK DIBELI</h3>
</div>

<form method="POST" action="{% url 'list_produk_dibeli:create' %}">
  {% csrf_token %}

  <div class="input-group" style="margin-top: 10px;">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdProduk">ID Produk</label>
    </div>
    <select name="idProduk" class="custom-select" id="inputGroupIdProduk">
    {% for pa in produk_apotek %}
        {% if pa.id_produk == idProduk %}
        <option selected value="{{ pa.id_produk }}" >{{ pa.id_produk }}</option>
        {% else %}
        <option value="{{ pa.id_produk }}" >{{ pa.id_produk }}</option>
        {% endif %}
    {% endfor %}
    </select>
  </div>

  <div class="input-group" style="margin-top: 10px;">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdApotek">ID Apotek</label>
    </div>
    <select name="idApotek" class="custom-select" id="inputGroupIdApotek">
    {% for pa in produk_apotek %}
        {% if pa.id_apotek == idApotek %}
        <option selected value="{{ pa.id_apotek }}" >{{ pa.id_apotek }}</option>
        {% else %}
        <option value="{{ pa.id_apotek }}" >{{ pa.id_apotek }}</option>
        {% endif %}
    {% endfor %}
    </select>
  </div>

  <div class="input-group" style="margin-top: 10px;">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
    </div>
    <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
    {% for tp in transaksi_pembelian%}
        <option value="{{ tp.id_transaksi_pembelian }}" >{{ tp.id_transaksi_pembelian }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="form-group" style="margin-top: 10px;">
    <label for="inputJumlah">Jumlah</label>
    <input type="number" name="jumlah" class="form-control" id="inputJumlah" placeholder="ex: 1" value="{{ jumlah }}">
  </div>


  <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>
{% endblock %}