
{% extends 'base.html' %}
{% load static %}

{% block title %} Edit List Produk Dibeli {% endblock %}
{% block nav %}{% endblock %}

{% block content %}

<div class="judul">
  <a href="{% url 'list_produk_dibeli:index' %}">
      <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
  </a>
  <h3 class="text-center font-weight-bold">FORM UPDATE LIST PRODUK DIBELI</h3>
</div>

<form method="POST" action="{% url 'list_produk_dibeli:edit' list_produk_dibeli_item.id_apotek list_produk_dibeli_item.id_produk list_produk_dibeli_item.id_transaksi_pembelian %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="inputIdProduk">ID Produk</label>
    <input type="text" readonly value="{{ list_produk_dibeli_item.id_produk }}" name="idProduk" class="form-control" id="inputIdProduk">
  </div>

  <div class="form-group">
    <label for="inputIdApotek">ID Apotek</label>
    <input type="text" readonly value="{{ list_produk_dibeli_item.id_apotek}}" name="idApotek" class="form-control" id="inputIdApotek">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
    </div>
    <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
    {% for tp in transaksi_pembelian %}
        {% if tp.id_transaksi_pembelian == list_produk_dibeli_item.id_transaksi_pembelian %}
        <option selected value="{{ tp.id_transaksi_pembelian }}">{{ tp.id_transaksi_pembelian }}</option>
        {% else %}
        <option value="{{ tp.id_transaksi_pembelian }}">{{ tp.id_transaksi_pembelian }}</option>
        {% endif %}
    {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="inputJumlah">Jumlah</label>
    <input type="number" name="jumlah" class="form-control" id="inputJumlah" placeholder="ex: 1" value="{{list_produk_dibeli_item.jumlah}}">
  </div>

  <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>

{% endblock %}