{% extends 'base.html' %}

{% block title %} List Produk Dibeli {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">List Produk Dibeli</h1>
    </div>
</div>

<br>
<div class="table-responsive-sm">
    <header>
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Produk</th>
                    <th scope="col">ID Apotek</th>
                    <th scope="col">ID Transaksi Pembelian</th>
                    <th scope="col">Jumlah</th>
                    {% if request.session.user.role == "admin_apotek" %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lpd in list_produk_dibeli %}
                <tr>
                    <th scope="row">{{ lpd.id_produk }}</th>
                    <td>{{ lpd.id_apotek }}</td>
                    <td>{{ lpd.id_transaksi_pembelian }}</td>
                    <td>{{ lpd.jumlah }}</td>
                    {% if request.session.user.role == "admin_apotek" %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'list_produk_dibeli:edit' lpd.id_apotek lpd.id_produk lpd.id_transaksi_pembelian %}">
                                <button class="btn btn-primary">Update</button>
                            </a>
                            <form action="{% url 'list_produk_dibeli:delete' lpd.id_apotek lpd.id_produk lpd.id_transaksi_pembelian %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </header>
</div>
{% endblock %}