{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Alat Medis
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'alat_medis:index' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM CREATE ALAT MEDIS</h3>
</div>
<form method="POST" action="{% url 'alat_medis:create' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="inputNamaAlatMedis">Nama Alat Medis</label>
        <input type="text" name="namaAlatMedis" class="form-control" id="inputNamaAlatMedis" placeholder="ex: Jarum Suntik" >
    </div>

    <div class="form-group">
        <label for="inputDeskripsiAlat">Deskripsi Alat</label>
        <input type="text" name="deskripsiAlat" class="form-control" id="inputDeskripsiAlat" placeholder="ex: Buat nyuntik" >
    </div>

    <div class="form-group">
        <label for="inputJenisPenggunaan">Jenis Penggunaan</label>
        <input type="text" name="jenisPenggunaan" class="form-control" id="inputJenisPenggunaan" placeholder="ex: Disuntik" >
    </div>

    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>
{% endblock %}