{% extends 'base.html' %}
{% load static %}

{% block title %}
Update Alat Medis
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'alat_medis:index' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM UPDATE UPDATE ALAT MEDIS</h3>
</div>
<form method="POST" action="{% url 'alat_medis:edit' id_alat_medis %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="inputIdAlatMedis">ID Alat Medis</label>
        <input type="number" readonly name="idAlatMedis" class="form-control" id="inputIdAlatMedis" value="{{ id_alat_medis }}">
    </div>

    <div class="form-group">
        <label for="inputNamaAlatMedis">Nama Alat Medis</label>
        <input type="text" name="namaAlatMedis" class="form-control" id="inputNamaAlatMedis" placeholder="ex: Jarum Suntik" value="{{ nama_alat_medis }}">
    </div>

    <div class="form-group">
        <label for="inputDeskripsiAlat">Deskripsi Alat</label>
        <input type="text" name="deskripsiAlat" class="form-control" id="inputDeskripsiAlat" placeholder="ex: Buat nyuntik" value="{{ deskripsi_alat }}">
    </div>

    <div class="form-group">
        <label for="inputJenisPenggunaan">Jenis Penggunaan</label>
        <input type="text" name="jenisPenggunaan" class="form-control" id="inputJenisPenggunaan" placeholder="ex: Disuntik" value="{{ jenis_penggunaan }}">
    </div>

    <div class="form-group">
        <label for="inputIdProduk">ID Produk</label>
        <input type="number" readonly name="idProduk" class="form-control" id="inputIdProduk" placeholder="ex: 1" value="{{ id_produk }}">
    </div>

    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>
{% endblock %}
