{% extends 'base.html' %}

{% block title %} Alat Medis {% endblock %}

{% block content %}
<div class="alat-medis-container">
        <h1>Alat Medis</h1>
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Alat Medis</th>
                    <th scope="col">Nama Alat Medis</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Jenis Penggunaan</th>
                    <th scope="col">ID Produk</th>
                    {% if request.session.user.role == "admin_apotek" or request.session.user.role == "cs" %}
                    <th scope="col">Action</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {% for am in alat_medis %}
                <tr>
                    <th scope="row">{{ am.id_alat_medis }}</th>
                    <td>{{ am.nama_alat_medis }}</td>
                    <td>{{ am.deskripsi_alat }}</td>
                    <td>{{ am.jenis_penggunaan }}</td>
                    <td>{{ am.id_produk }}</td>
                    {% if request.session.user.role == "admin_apotek" or request.session.user.role == "cs" %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'alat_medis:edit' am.id_alat_medis %}">
                                <button class="btn btn-primary">Update</button>
                            </a>
                            <form action="{% url 'alat_medis:delete' am.id_alat_medis %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}