#inputTanggalLahir{
    background-color: white;
}

.container {
    border-radius: 25px;
    margin-top: 10px;
    padding: 3em;
    background: rgba(0, 0, 0, 0.76);
}
.judul {
    display: flex;
}

.judul img{
    width: 40px;
}

.judul h3{
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.judul ,form {
    color: azure;
}