.profile-container .card img{
    max-height: 200px;
}

.profile-container .card-body{
    text-align: center;
    padding-top: 0;
}

.profile-container .card-body > h5,
.profile-container .card-body > p{
    margin: 0 auto;
}

.profile-container .card-title{
    font-weight: bold;
}