.container {
    padding: 3em;
    margin-top: 3em;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.76);
}

.role-container .card{
    padding: 5px;
    text-align: center;
}

.role-container .card img{
    max-height: 200px;
}

.header {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}