{% extends 'base.html' %}
{% load static %}

{% block title %} 
Produk Apotek 
{% endblock %}

{% block nav %}{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Tambahkan Produk</h1>
    </div>
</div>
<br>
<div class="container">
    <form method="POST" action="{% url 'produk_apotek:create' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputIdProduk">ID Produk</label>
                <select name="idProduk" id="inputIdProduk" class="form-control">
                    {% for id_produk in id_produks %}
                        <option value="{{ id_produk }}">{{ id_produk }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputIdApotek">ID Apotek</label>
                <select name="idApotek" id="inputIdApotek" class="form-control">
                        {% for id_apotek in id_apoteks %}
                        <option value="{{ id_apotek }}">{{ id_apotek }}</option>
                    {% endfor %}
                </select>
            </div>
        <div class="form-group">
            <label>Harga Jual</label>
            <input name="hargaJual" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label>Satuan Penjualan</label>
            <input name="satuanPenjualan" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Stok</label>
            <input name="stok" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
        <div class="btn-group btn-group-sm">
            <a href="{% url 'produk_apotek:index' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Batal</a>
        </div>
    </form>
</div>

{% endblock %}