{% extends 'base.html' %}

{% block title %} 
Ubah Produk Apotek 
{% endblock %}

{% block nav %}{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Ubah Produk</h1>
    </div>
</div>
<br>
<div class="container">
    <form method="POST" action="{% url 'produk_apotek:edit' produk_apotek.id_produk produk_apotek.id_apotek %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputIdProduk">ID Produk</label>
            <select name="idProduk" id="inputIdProduk" class="form-control">
                {% for id_produk in id_produks %}
                    {% if id_produk == produk_apotek.id_produk %}
                    <option value="{{ id_produk }}" selected>{{ id_produk }}</option>
                    {% else %}
                    <option value="{{ id_produk }}">{{ id_produk }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputIdApotek">ID Apotek</label>
            <select name="idApotek" id="inputIdApotek" class="form-control">
                {% for id_apotek in id_apoteks %}
                    {% if id_apotek == produk_apotek.id_apotek %}
                    <option value="{{ id_apotek }}" selected>{{ id_apotek }}</option>
                    {% else %}
                    <option value="{{ id_apotek }}">{{ id_apotek }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputHargaJual">Harga Jual</label>
            <input name="hargaJual" type="number" id="inputHargaJual" class="form-control" value="{{ produk_apotek.harga_jual }}" placeholder="10000">
        </div>
        <div class="form-group">
            <label for="inputSatuanPenjualan">Satuan Penjualan</label>
            <input name="satuanPenjualan" type="text" id="inputSatuanPenjualan" class="form-control" value="{{ produk_apotek.satuan_penjualan }}" placeholder="Tablet">
        </div>
        <div class="form-group">
            <label for="inputStok">Stok</label>
            <input name="stok" type="number" id="inputStok" class="form-control" value="{{ produk_apotek.stok }}" placeholder="5">
        </div>
        <button type="submit" class="btn btn-primary">Perbarui</button>
        <a href="{% url 'produk_apotek:index' %}">
            <button type="button" class="btn btn-secondary">Batal</button>
        </a>
    </form>
</div>
{% endblock %}