{% extends 'base.html' %}

{% block title %} Produk Apotek {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Produk Apotek</h1>
    </div>
</div>

<br>
<div class="table-responsive-sm">
    <header>
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Produk</th>
                    <th scope="col">ID Apotek</th>
                    <th scope="col">Harga Jual</th>
                    <th scope="col">Satuan Penjualan</th>
                    <th scope="col">Stok</th>
                    {% if request.session.user.role == "admin_apotek" %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for produk_apotek in produk_apoteks %}
                <tr>
                    <th scope="row">{{ produk_apotek.id_produk}}</th>
                    <td>{{ produk_apotek.id_apotek }}</td>
                    <td>{{ produk_apotek.harga_jual }}</td>
                    <td>{{ produk_apotek.satuan_penjualan }}</td>
                    <td>{{ produk_apotek.stok }}</td>
                    {% if request.session.user.role == "admin_apotek" %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'produk_apotek:edit' produk_apotek.id_produk produk_apotek.id_apotek %}">
                                <button class="btn btn-primary">Update</button>
                            </a>
                            <form action="{% url 'produk_apotek:delete' produk_apotek.id_produk produk_apotek.id_apotek %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </header>
</div>
{% endblock %}