
body> .row > div{
    padding: 0;
}


.wrapper{
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    height: 100%;
}

.wrapper > img {
    min-width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.material-icons.orange600 { color: #FB8C00; }

a,
a:hover{
    text-decoration: none;
}

.sidebar {
    max-width: 250px;
    min-width: 250px;
    height: 100%;
    margin-left: -250px ;
    transition: all 0.8s;
}

.sidebar.active {
    margin-left: 0;
    transition: all 0.8s;
}

.sidebar .btn{
    width: 100%;
    display: block !important;
}

.sidebar div.card-body{
    padding-bottom: 0;
}

.sidebar div.collapse>a{
    color: black;
}
.sidebar .card{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.19'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sidebar .card-header{
    background-color: #c0c4c1;
}

.burger {
    display: none;
}

.burger.active{
    width: 20px;
    cursor: pointer;
    display: block;
}
.header{
    border-radius: 5px;
    background-color: #c0c4c1;
    padding: 5px;
    
    margin-bottom: 15px;
    display: flex;
}

.header h3 {
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}
