
{% extends 'base.html' %}
{% load static %}

{% block title %} Create Pengantaran Farmasi {% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="judul">
  <a href="{% url 'pengantaran_farmasi:index' %}">
      <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
  </a>
  <h3 class="text-center font-weight-bold">FORM CREATE PENGANTARAN FARMASI</h3>
</div>

<form method="POST" action="{% url 'pengantaran_farmasi:create' %}">
  {% csrf_token %}

  <div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
    </div>
    <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
    {% for pf in pengantaran_farmasi %}
        <option value="{{ pf.id_transaksi_pembelian }}" >{{ pf.id_transaksi_pembelian }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="inputWaktu">Waktu</label>
    <input type="date" name="Waktu" class="form-control" id="inputWaktu">
  </div>

  <div class="form-group">
    <label for="inputBiayaKirim">Biaya Kirim</label>
    <input type="number" name="biayaKirim" class="form-control" id="inputBiayaKirim" placeholder="ex: 10000">
  </div>

  <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>

{% endblock %}