
{% extends 'base.html' %}
{% load static %}

{% block title %} Update Pengantaran Farmasi {% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
{% endblock %}

{% block content %}
<div class="judul">
  <a href="{% url 'pengantaran_farmasi:index' %}">
      <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
  </a>
  <h3 class="text-center font-weight-bold">FORM UPDATE UPDATE PENGANTARAN FARMASI</h3>
</div>
<form method="POST" action="{% url 'pengantaran_farmasi:edit' pengantaran_farmasi_item.id_pengantaran %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="inputIdPengantaran">ID Pengantaran</label>
    <input type="number" readonly value="{{ pengantaran_farmasi_item.id_pengantaran }}" name="idPengantaran" class="form-control" id="inputIdPengantaran">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdKurir">ID Kurir</label>
    </div>
    <select name="idKurir" class="custom-select" id="inputGroupIdKurir">
    {% for kr in kurir %}
        <option value="{{ kr.id_kurir }}" >{{ kr.id_kurir }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
    </div>
    <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
    {% for tp in transaksi_pembelian %}
        <option value="{{ tp.id_transaksi_pembelian }}" >{{ tp.id_transaksi_pembelian }}</option>
    {% endfor %}
    </select>
    </div>

    <div class="form-group">
      <label for="inputWaktu">Waktu</label>
      <input type="text" readonly value="{{ waktuSekarang }}" name="waktu" class="form-control" id="inputWaktu">
    </div>

  <div class="form-group">
      <label for="inputStatus">Status</label>
      <input type="text" name="status" class="form-control" id="inputStatus" placeholder="ex: Not Delivered" value="{{ pengantaran_farmasi_item.status_pengantaran }}">
  </div>

  <div class="form-group">
      <label for="inputBiayaKirim">Biaya Kirim</label>
      <input type="number" name="biayaKirim" class="form-control" id="inputBiayaKirim" placeholder="ex: 10000" value="{{ pengantaran_farmasi_item.biaya_kirim }}">
  </div>

  <div class="form-group">
      <label for="inputTotalBiaya">Total Biaya</label>
      <input type="number" readonly name="totalBiaya" class="form-control" id="inputTotalBiaya" placeholder="ex: 20000" value="{{ pengantaran_farmasi_item.total_biaya }}">
  </div>

  <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>

{% endblock %}