{% extends 'base.html' %}

{% block title %} Pengantaran Farmasi {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Pengantaran Farmasi</h1>
    </div>
</div>

<br>
<div class="table-responsive-sm">
    <header>
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID Pengantaran</th>
                    <th scope="col">ID Kurir</th>
                    <th scope="col">ID Transaksi Pembelian</th>
                    <th scope="col">Waktu</th>
					<th scope="col">Status</th>
					<th scope="col">Biaya Kirim</th>
                    <th scope="col">Total Biaya</th>
                    {% if request.session.user.role == "admin_apotek" %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pf in pengantaran_farmasi %}
                <tr>
                    <th scope="row">{{ pf.id_pengantaran }}</th>
                    <td>{{ pf.id_kurir }}</td>
                    <td>{{ pf.id_transaksi_pembelian }}</td>
                    <td>{{ pf.waktu }}</td>
                    <td>{{ pf.status_pengantaran }}</td>
                    <td>{{ pf.biaya_kirim }}</td>
                    <td>{{ pf.total_biaya }}</td>
                    {% if request.session.user.role == "admin_apotek" %}
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'pengantaran_farmasi:edit' pf.id_pengantaran %}">
                                <button class="btn btn-primary">Update</button>
                            </a>
                            <form action="{% url 'pengantaran_farmasi:delete' pf.id_pengantaran %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </header>
</div>
{% endblock %}