{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Transaksi Pembelian
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
<link rel="stylesheet" href="{% static 'css/transaksi_resep/resep.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/date_init.js' %}"></script>
<script src="{% static 'js/transaksi_resep/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'transaksi_resep:index' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM TRANSAKSI DENGAN RESEP</h3>
</div>
<form method="POST" action="{% url 'transaksi_resep:create' %}">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="namaDokter">Nama Dokter</label>
        <input type="text" name="dokter" class="form-control" id="namaDokter" placeholder="ex: Joko Susilo" >
    </div>

    <div class="form-group">
        <label for="namaPasien">Nama Pasien</label>
        <input type="text" name="pasien" class="form-control" id="namaPasien" placeholder="ex: Joko Susilo" >
    </div>

    <div class="form-group">
        <label for="inputIsiResep">Isi Resep</label>
        <input type="text" name="isiResep" class="form-control" id="inputIsiResep" placeholder="ex: Obat Diare">
    </div>

    <div class="form-group">
        <label for="inputUrlResep">Unggahan Resep</label>
        <input type="url" name="unggahan" class="form-control" id="inputUrlResep" >
    </div>

    <div class="form-group">
        <label for="inputTanggalResep">Tanggal</label>
        <input type="text" readonly name="tanggalResep" class="form-control date-picker" id="inputTanggalResep">
    </div>

    <div class="form-group">
        <label for="inputNomorTelp">Nomor Telepon</label>
        <input type="number" name="telepon" class="form-control" id="inputNomorTelp" placeholder="ex: 081212121212" >
    </div>
    
    <div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
    </div>
    <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
    {% for tp in transaksi_pembelian %}
        <option value="{{ tp.id_transaksi_pembelian }}" >{{ tp.id_transaksi_pembelian }}</option>
    {% endfor %}
    </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>
{% endblock %}