{% extends 'base.html' %}
{% load static %}

{% block title %}
Update Transaksi Pembelian
{% endblock %}

{% block nav %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/authentication/form_register.css' %}">
<link rel="stylesheet" href="{% static 'css/transaksi_resep/resep.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/date_init.js' %}"></script>
<script src="{% static 'js/transaksi_resep/main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="judul">
    <a href="{% url 'transaksi_resep:index' %}">
        <img src="{% static 'icons/arrow-back.svg' %}" alt="Kembali">
    </a>
    <h3 class="text-center font-weight-bold">FORM UPDATE TRANSAKSI RESEP</h3>
</div>
<form method="POST" action="{% url 'transaksi_resep:edit' transaksi_resep_item.no_resep %}">
    {% csrf_token %}

    
    <div class="form-group">
        <label for="inputNomorResep">Nomor Resep</label>
        <input type="text" readonly value="{{ transaksi_resep_item.no_resep }}" name="nomorResep" class="form-control" id="inputNomorResep">
    </div>

    <div class="form-group">
        <label for="inputNamaDokter">Nama Dokter</label>
        <input type="text" name="dokter" class="form-control" id="inputNamaDokter" placeholder="ex: Joko Susilo" value="{{ transaksi_resep_item.nama_dokter }}">
    </div>

    <div class="form-group">
        <label for="inputNamaPasien">Nama Pasien</label>
        <input type="text" name="pasien" class="form-control" id="inputNamaPasien" placeholder="ex: Joko Susilo" value="{{ transaksi_resep_item.nama_pasien }}">
    </div>

    <div class="form-group">
        <label for="inputIsiResep">Isi Resep</label>
        <input type="text" name="isiResep" class="form-control" id="inputIsiResep" placeholder="ex: Obat Diare" value="{{ transaksi_resep_item.isi_resep }}">
    </div>

    <div class="form-group">
        <label for="inputUrlResep">Unggahan</label>
        <input type="url" name="unggahan" class="form-control" id="inputUrlResep" value="{{ transaksi_resep_item.unggahan_resep }}">
    </div>

    <div class="form-group">
        <label for="inputTanggalResep">Tanggal</label>
        <input type="text" readonly name="tanggalResep" class="form-control date-picker" id="inputTanggalResep">
        <time datetime="{{ transaksi_resep_item.tanggal_resep|date:'Y-d-m' }}"></time>
    </div>

    <div class="form-group">
        <label for="inputStatusResep">Status</label>
        <input type="text" name="statusResep" class="form-control" id="inputStatusResep" placeholder="ex: Proses" value="{{ transaksi_resep_item.status_validasi }}">
    </div>

    <div class="form-group">
        <label for="inputNomorTelp">Nomor Telepon</label>
        <input type="number" name="telepon" class="form-control" id="inputNomorTelp" placeholder="ex: 081212121212" value="{{ transaksi_resep_item.no_telepon }}">
    </div>
    
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupIdTransaksi">ID Transaksi</label>
        </div>
        <select name="idTransaksi" class="custom-select" id="inputGroupIdTransaksi">
        {% for tp in transaksi_pembelian %}
            <option value="{{ tp.id_transaksi_pembelian }}">{{ tp.id_transaksi_pembelian }}</option>
        {% endfor %}
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupEmailApoteker">Email Apoteker</label>
        </div>
        <select name="emailApoteker" class="custom-select" id="inputGroupEmailApoteker">
        {% for apoteker in apotekers %}
            <option value="{{ apoteker.email }}">{{ apoteker.email }}</option>
        {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
</form>
{% endblock %}
