{% extends 'base.html' %}

{% block title %} Transaksi Resep {% endblock %}

{% block content %}
<div class="transaksi-resep-container">
    <h1>Transaksi Resep</h1>
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No Resep</th>
                <th scope="col">Dokter</th>
                <th scope="col">Pasien</th>
                <th scope="col">Isi Resep</th>
                <th scope="col">Unggahan Resep</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">No Telp</th>
                <th scope="col">ID Transaksi</th>
                <th scope="col">Email Apoteker</th>
                {% if request.session.user.role == "admin_apotek" or request.session.user.role == "cs" %}
                <th scope="col">Action</th>
                {% endif %}
                
            </tr>
        </thead>
        <tbody>
            {% for tr in transaksi_resep %}
            <tr>
                <th scope="row">{{ tr.no_resep }}</th>
                <td>{{ tr.nama_dokter }}</td>
                <td>{{ tr.nama_pasien }}</td>
                <td>{{ tr.isi_resep }}</td>
                <td>{{ tr.unggahan_resep }}</td>
                <td>{{ tr.tanggal_resep }}</td>
                <td>{{ tr.status_validasi }}</td>
                <td>{{ tr.no_telepon }}</td>
                <td>{{ tr.id_transaksi_pembelian }}</td>
                <td>{{ tr.email_apoteker }}</td>
                {% if request.session.user.role == "admin_apotek" or request.session.user.role == "cs" %}
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="{% url 'transaksi_resep:edit' tr.no_resep %}">
                            <button class="btn btn-primary">Update</button>
                        </a>
                        <form action="{% url 'transaksi_resep:delete' tr.no_resep %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}