
{% extends 'base.html' %}

{% block title %} Transaksi Pembelian {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Tambahkan Produk</h1>
    </div>
</div>
<br>
<div class="container">
  <form action="{% url 'transaksi_pembelian:create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for='input_id_konsumen'>ID Konsumen</label>
      <select name="idKonsumen" id="input_id_konsumen" class="form-control">
        {% for id_konsumen in id_konsumens %}
          <option value="{{ id_konsumen }}">{{ id_konsumen }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="button" style="margin-top:75px">
      <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
    <a href="{% url 'transaksi_pembelian:index' %}">
      <button type="button" class="btn btn-secondary">Batal</button>
    </a>
  </form>
</div>
{% endblock %}