
{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="col-md-6">
        <h1 class="display-4">Ubah Transaksi Pembelian</h1>
    </div>
</div>
<br>
<form class="form-horizontal" action="{% url 'transaksi_pembelian:edit' transaksi_pembelian.id_transaksi_pembelian %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="idTransaksi">ID Transaksi</label>
    <input type="text" value="{{ transaksi_pembelian.id_transaksi_pembelian }}" class="form-control" id="idTransaksi" name="idTransaksi" readonly>
  </div>

  <div class="form-group">
    <label for="inputWaktu">Waktu Pembelian</label>
    <input type="text" value="{{ transaksi_pembelian.waktu_pembelian|date:'d F Y H:i:s'}}" class="form-control" id="inputWaktu" name="waktuPembelian" readonly>
  </div>

  <div class="form-group">
    <label for="total">Total Pembayaran</label>         
    <input type="text" class="form-control" id="total" name="totalPembayaran" value="{{ transaksi_pembelian.total_pembayaran }}" name="total" readonly>
  </div>

  <div class="form-group">
    <label for='input_id_konsumen'>ID Konsumen</label>
    <select name="idKonsumen" id="input_id_konsumen" class="form-control">
      {% for id_konsumen in id_konsumens %}
        {% if transaksi_pembelian.id_konsumen == id_konsumen %}
        <option selected value="{{ id_konsumen }}">{{ id_konsumen }}</option>
        {% else %}
        <option value="{{ id_konsumen }}">{{ id_konsumen }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group" style="margin-top:75px;">        
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<script type="text/javascript" language="javascript">
function GetDateTime() {

    var currentdate = new Date(); 
    var datetime = "Last Sync: " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " " 
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
    document.getElementById('waktu').value = datetime;

}
</script>
{% endblock %}