{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="title" style="margin:25px;">
    <h1>Transaksi Pembelian</h1>
</div>
<div class = "table-responsive-sm">
    <table class="table table-light" style="color:white;">
        <thead class="bg-dark">
        <tr>
            <th scope="col">ID Transaksi</th>
            <th scope="col">Waktu Pembelian</th>
            <th scope="col">Total Pembayaran</th>
            {% if request.session.user.role != "konsumen" %}
                <th scope="col">ID Konsumen</th>
            {% endif %}
            {% if request.session.user.role == "admin_apotek" %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody style="color:black;">
        {% if request.session.user.role != "konsumen" %}
            {% for transaksi_pembelian in transaksi_pembelians %}
            <tr>
                <th scope="row">{{ transaksi_pembelian.id_transaksi_pembelian }}</th>
                <td>{{ transaksi_pembelian.waktu_pembelian }}</td>
                <td>{{ transaksi_pembelian.total_pembayaran }}</td>
                <td>{{ transaksi_pembelian.id_konsumen }}</td>
                {% if request.session.user.role == "admin_apotek" %}
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="{% url 'transaksi_pembelian:edit' transaksi_pembelian.id_transaksi_pembelian %}">
                            <button class="btn btn-primary">Update</button>
                        </a>
                        <form action="{% url 'transaksi_pembelian:delete' transaksi_pembelian.id_transaksi_pembelian %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            {% for transaksi_pembelian in transaksi_pembelians %}
            <tr>
                <th scope="row">{{ transaksi_pembelian.id_transaksi_pembelian }}</th>
                <td>{{ transaksi_pembelian.waktu_pembelian }}</td>
                <td>{{ transaksi_pembelian.total_pembayaran }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}